body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#BtnScroll {
    display: none;
}

#ajustes {
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #333;
}

textarea {
    border-radius: 5px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-left: 2%;
    resize: none;
}

#chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #e7e6e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}


#container-ajustes {
    margin-top: 20vh;
    margin-left: 5vh;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 92%;
    width: 92%;
    float: left;
  }
  

  #titulo-ajustesG {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: left;
  }
  

  #btn-guardar {
    background-color: #e7e6e6;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0;
  }

  #btn-guardar:hover {
    background-color: #cecaca;
} 
  
  .separador {
    width: 100%;
    margin: 20px 0;
  }
  
  #etiqueta-idioma {
    font-size: 16px;
    color: #555;
  }
  

  #select-idioma {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
  }
  
  #select-idioma option {
    padding: 5px;

  }

  #etiqueta-modo {
    font-size: 16px;
    color: #555;
  }
  

  #selector-modo {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
  }
  
  #selector-modo option {
    padding: 5px;
  }
  


img {
    width: 100px; 
    height: auto; 
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
}


#a-ajustes {
    position: absolute;
    top: 2.5vh;
    right: 2vh;
    padding: 5px;
    text-decoration: none;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e7e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.a-ajustes-img {
    width: 100%;
    height: 100%;
    display: block;
}


#logo-container {
    margin-right: 20px;
}

.chat {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    word-wrap:  break-word;
    max-width: 100%;
}

.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-thumb{
    background: #525252; 
    border-radius: 5px;
}

.chat::-webkit-scrollbar-thumb:hover{
    background: #868686;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); 
}

.chat::-webkit-scrollbar-thumb:active{
    background-color: #999999;
}

.hr-difuminado {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
}

.chat::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

#input-container {
    display: flex;
}

#input-pregunta {
    padding: 8px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
    margin-left: 5vh;
}

.icono-usuario {
    float: right;
    width: 3vh;
    height: auto;
    margin-top: -5px;
}

button {
    padding: 8px;
    background-color: #e7e6e6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2%;
}

button:hover {
    background-color: #6d6d6d;
}

#btnpregunta:disabled {
    opacity: 0.5;
    cursor: default;
} 

.mensaje {
    margin-top: 10px;
}

p {
    margin: 5px 0;
    height: auto;
}

/* ------------------------------------------------------------------ */
.modo-oscuro {
    
    background-color: #302c2c;
}

.modo-oscuro textarea {

    background-color: rgb(104, 104, 104);
    color: #e1e1e1;
}

.modo-oscuro h1 {
    color: #ccc;
}

.modo-oscuro textarea::placeholder {
    color: #e1e1e1;
}

.modo-oscuro #chat-container {

    background-color: #4b4b4b;
    box-shadow: 0 0 10px rgba(161, 161, 161, 0.1);
}
.modo-oscuro #container-ajustes {
        
    background-color: #4b4b4b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

.modo-oscuro #titulo-ajustesG {
    color: #ccc;
}

.modo-oscuro #btn-guardar {
    background-color: #888888;
    color: white;
  }

.modo-oscuro #btn-guardar:hover {
    background-color: #6d6d6d; 
}

.modo-oscuro #etiqueta-idioma {
    
    color: #ccc;
  }

.modo-oscuro #select-idioma {

    border: 1px solid #ccc;
    background-color: #888888;
    color: white;
  }

.modo-oscuro #etiqueta-modo {
    
    color: #ccc;
  }

.modo-oscuro #selector-modo {

    border: 1px solid #ccc;
    background-color: #888888;
    color: white;
  }

.modo-oscuro #a-ajustes {
    background-color: #6d6d6d;
  }

.modo-oscuro .hr-difuminado {
    background: linear-gradient(to right, transparent, #666666, transparent);
  }

.modo-oscuro p {
    color: #ccc;
  }

.modo-oscuro .chat::-webkit-scrollbar-thumb{
    background: #bdbdbd; 
    border-radius: 5px;
}

.modo-oscuro .chat::-webkit-scrollbar-thumb:hover{
    background: #868686;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); 
}

.modo-oscuro .chat::-webkit-scrollbar-thumb:active{
    background-color: #999999;
}

.modo-oscuro .chat::-webkit-scrollbar-track {
    background: #888888;
    
}


.modo-oscuro button {
    
    background-color: #888888;
    color: white;
    
}

.modo-oscuro button:hover {
    background-color: #6d6d6d;
}


